/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('../images/site/checkerboard.jpg');
}

/* Navbar */
nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

nav a:hover {
  background-color: #fff;
  padding: 3px;
  color: #333;
}

nav a {
  text-decoration: none;
  color: #fff;
}

#top-header {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

#top-header a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.banner {
  position: relative;
}

.banner .overlay {
  position: absolute;
  max-width: 200px;
  max-height: 250px;
  top: .5em;
  left: .5em;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
  color: rgb(34, 177, 224);
  margin-left: 20px;
  margin-top: 20px;

  /* align-items: center;
  justify-content: center; */
}

.overlay>button {
  background-color: rgb(34, 177, 224);
  font-weight: bolder;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.overlay>p,
h2 {
  font-weight: bolder;
}

.banner>img {
  width: 100%;
  height: auto;
}


body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;

  margin-right: 40px;
  margin-left: 40px;
  border-radius: .5em;
  border-color: rgb(34, 177, 224);
  border-width: 5px;
  border-style: solid;

}

.details-container {
  display: grid;
  margin: 20px 0;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.details-container>h3 {
  margin: 20px;
  ;
}

.upgrade-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

figure>img {
  background-color: lightblue;
  padding: 25%;
}

.upgrade-item>figcaption {
  background-color: white;
}

.reviews>ul>li {
  padding: 10px;
}

#inv-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 300px;
}

#inv-display>li {
  list-style: none;
  margin: 25px;
  padding: 10px;
  background-color: hsla(187, 79%, 59%, 0.555);
}

#inv-display>li a {
  text-decoration: none;
  color: #333;
}

#inv-display>li>div>span {
  font-weight: bolder;
  font-size: 1.5em;
}


@media screen and (max-width: 600px) {
  .details-container {
    grid-template-columns: 1fr;

  }

  .upgrade-items {
    grid-template-columns: 1fr;
  }

}